body{
  background-color: black;
}

body, a:active, a:hover {
  color: grey !important;
}

.frame {
  border: double;
  background-color: rgba(255, 255, 255, 0.5);
}

#main {
  padding-top: 1.5%;
}

#grid {
  float: none;
  height: 100%;
}

#prompt {
overflow-y: scroll;
}

.main-boxes {
  height: 296px;
}

#nav {
  background-color: rgba(255, 0, 0, 0.5);
  color: white;
  height: 40px;
  padding: 0px;
}

.flexing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#logo {
  display: flex;
  justify-content: flex-start;
  float: left;
  padding: 0px;
}

.nav-items {
  padding-top: 10px;
}

#speaker {
  padding: 0px;
}

#speakermute {
  padding: 0px;
}

#graphics {
  padding: none;
}

#controls {
  float: none;
  padding: 0px;
}

#instructions {
  color: white;
  font-size: 18px;
}

a:visited {
  color: white;
}

#footer {
  position: absolute;
  bottom: 0;
  color: white;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-color: rgba(255, 0, 0, 0.5);
  font-size: 18px;
  height: 18%;
  width: 100%;
}

@media only screen and (max-width: 768px) {
  #footer {
    position: relative !important;
    bottom: 0px !important;
    margin-top: 18%;
  }
  #main {
    padding-top: 0;
  }
  #codetrotters{
    margin: 10px auto auto auto;
  }
  #instructions {
    margin-bottom: 10px;
  }
  #projectmade {
    text-align: center !important;
  }
}

@media only screen
and (min-device-width : 769px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  #footer{
    position: absolute !important;
    bottom: 0px !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1024px) and (orientation : landscape){
  #footer {
    height: 200px !important;
    position: inherit;
    bottom: 0px !important;
  }
  #footer-bar{
    flex-wrap: nowrap !important;
  }
}

@media only screen, (min-width: 769px) and (max-width: 992px){
  #codetrotters{
    margin: 10px auto auto auto;  
  }
  #projectmade{
    text-align: center;
  }
}

#projectmade {
  text-align: left;
}

#footer a:link, a:visited {
  text-decoration: none;
  color: white;
}

#footer > div > span > a:hover {
  color: grey;
}

.footerItems {
  font-size: 20px;
  bottom: 5px;
  padding-top: 10px;
}

#tile {
  padding: 5px;
}

.type-it {
  font-size: 24px;
  font-family: sans-serif;
}
